[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
xgboost = "*"
transformers = "*"
matplotlib = "*"
seaborn = "*"
notebook = "*"
scipy = "*"
fastapi = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.12"
